@{
    ViewData["Title"] = "UNITEC SUR";
}

<div class="text-center">
    <h1 class="display-4">UNITEC SUR | IM | 23-2 | E09</h1>
    <h2 class="display-4">Isidoro Ayala Jesús Antonio | 20782268
        <br>
        Herrera Lázaro Cesar Daniel | 17718775
        <br>
        Dominic Medina Bryan | 18174698

    </h2>
    <p>Implantación y Mantenimiento de Sistemas</p>
</div>
